.grid {
  width: 50%;
  background-color: pink;
  float: left;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.2rem;
  background-color: var(--light-blue);
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.grid-item {
  text-decoration: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.grid-item h3 {
  font-size: 1.2em;
}

.grid-item:nth-child(4n),
.grid-item:nth-child(4n + 1) {
  background-color: var(--dark-blue);
}

.d-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.toolbar {
  background-color: #4369B2;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 95%;
  padding: 2.5%;
  height: 40px;
}

.d-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.toolbar-link {
  color: #FFFFFF;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}

h1 {
  margin: 0 0;
}

.detail-title {
  background-color: #5788E4;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0 0;
  color: white;
  text-align: center;
}

.detail-container {
  display: flex;
  flex-direction: column;
  background-color: #4369B2;
}

.detail-container > div:nth-child(2n) {
  background-color: #3F62A4;
}

h3 {
  color: white;
  padding-left: 10px;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
  font-size: 1.2rem;
}

p {
  color: white;
}